* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-color: #9933cc;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 4px;
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; 
  align-items: center;
}

.footer {
  display: flex;
  gap: 12px;
  padding: 8px;
  flex-wrap: nowrap;
  justify-content: flex-start; 
  align-items: center;
  bottom:0; 
  flex: 1;
}

.codeEditor {
  width: 25%;
  height: 94vh;
  float: left;
}

.cpuSchematic {
  width: 38%;
  height: 50vh;
  float: left;
}

.memory {
  width: 37%;
  height: 50vh;
  float: right;
}

.controls {
  width: 75%;
  float: right;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  flex-wrap: nowrap;
  justify-content: flex-start; 
  align-items: center;
}

.ioConsole {
  width: 75%;
  height: 34vh;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; 
  align-items: center;

}

#io-div {
  height: 100%;
}

#log-div {
  flex: 1 1 auto;
  height: 100%
}

#output-holder {
  height: 100%; 
  margin:0px;
}

/* New settings */

.button {
  background-color: #fecef7; /* Light Purple */
  border: none;
  color: black;
  padding: 4px 6px;
  margin-left: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  font-weight: bold;
}

#state-label {
  color: white;
}

.button:active {
  background-color: #ffffff; /* White */
}

.button:disabled {
  color: #999999; /* gray */
  background-color: #cccccc; /* grayer */
}

.icon-button {
  background-color: #9933cc; /* Dark Purple */
  border: none;
  color: #fecef7; /* Light Purple */
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  font-weight: bold;
  margin: 0px 0px;
  height: 100%;
}

.icon-button:hover {
  background-color: #7711aa;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 92%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize: none;
}

canvas {
  background-color: #f0daf5;
}

.tabulator-row .tabulator-cell{
  padding:4px 4px;
  max-height: 20px;
}


/*Theme the Code table*/
#code-table{
  background-color:#ccc;
  border: 1px solid #333;
}

/*Theme the header*/
#code-table .tabulator-header {
  background-color:#333;
  color:#fff;
}


/*Colour the table rows*/
#code-table .tabulator-row.tabulator-row-odd{
  color:#000;
  background-color: #FFFFFF;
}

/*Colour even rows*/
#code-table .tabulator-row.tabulator-row-even{
  color:#000;
  background-color: #DDDDDD;
}


#code-table .tabulator-selected {
  background-color: #FFDDDD !important;
}


#instruction-set-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#instruction-set-table td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#instruction-set-table tr:nth-child(even){
  background-color: #dddddd;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .codeEditor {
    width: 100%;
  }
  .cpuSchematic {
    width: 100%;
  }
  .memory {
    width: 100%;
  }
  .controls {
    width: 100%;
  }
  .ioConsole {
    width: 100%;
  }
  .icon-button {
    padding: 4px 4px;
  }
}

/* iPad in Portrait - necessary because Apple's idea of viewport is ... different */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .codeEditor {
    height: 84vh;
    width: 100%;
  }

  .cpuSchematic {
    height: 42vh;
    width: 100%;
  }

  .memory {
    height: 42vh;
    width: 100%;
  }

  .controls {
    width: 100%;
  }

  .ioConsole {
    width: 100%;
  }
}

/* iPad in Landscape - necessary because Apple's idea of viewport is ... different */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .codeEditor {
      height: 84vh;
    }
  .cpuSchematic {
    height: 42vh;
  }

  .memory {
    height: 42vh;
  }
}





/* remove from here*/
.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
/*  background-color: #fecef7; */
  background-color: #ffffff;
  padding: 10px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-header {
  position: relative; 
  background-color: #9933cc;
/*  background-color: #fecef7; */
  color: #ffffff;
  padding: 1px;
}
.modal-footer {
  position: relative; 
  background-color: #9933cc;
/*  background-color: #fecef7; */
  color: #ffffff;
  padding: 8px;
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* remove to here*/
