* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.codeEditor {
  width: 33%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.cpuSchematic {
  width: 33%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.memory {
  width: 34%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.controls {
  width: 67%;
  float: right;
  padding: 15px;
  border: 1px solid red;
}

.ioConsole {
  width: 67%;
  float: right;
  padding: 15px;
  border: 1px solid red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .codeEditor {
    width: 100%;
    border: 1px solid green;
  }
  .cpuSchematic {
    width: 100%;
    border: 1px solid green;
  }
  .memory {
    width: 100%;
    border: 1px solid green;
  }
  .controls {
    width: 100%;
    border: 1px solid green;
  }
  .ioConsole {
    width: 100%;
    border: 1px solid green;
  }
}
