/* Main UI styles */
.navbar btn-li {
  background-color: #EEEEEE;
}

.navbar .nav-item:hover {
  background-color: #F0F0F0;
}

/* Tabulator styles */
.tabulator-tableholder {
  padding:0px;
}

.tabulator-header {
  padding:0px;
}
