/* Main UI styles */
.navbar btn-li {
  background-color: #EEEEEE;
}

.navbar btn-li:hover {
  background-color: #0000FF;
}

.navbar li:hover {
  background-color: #FF0000;
}


/* Tabulator styles */
.tabulator-tableholder {
  padding:0px;
}

.tabulator-header {
  padding:0px;
}
