/* Main UI styles */
.btn-li {
  background-color: #EEEEEE;
}

.btn-li:hover {
  background-color: #888888;
}


/* Tabulator styles */
.tabulator-tableholder {
  padding:0px;
}

.tabulator-header {
  padding:0px;
}
